.baseclass {
    background-color: #caffff;
}

.baseClass {
    color: aliceblue;
}

.customRow {
    align-items: center;
    text-align: center;
    height: 100vh;
}


.customCard {
    padding: 20px;
}

.customForm {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    color: black;
}